.project{
    background-color: black;
    height: 100%;
    width: 100%;
}
.cardlist{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}
.cardlist .card{
    width: 30%;
}
.card h1{
    text-align: center;
    color: purple;
    font-weight: bolder;
}
.card img{
    height: 50%;
    width: 100%;
    object-fit: contain;
    
}
p{
    text-align: center;
    font-weight: ;
}
.projectlogo{
    text-align: center;
}
span{
    ;
}